<!DOCTYPE html>
<html lang="es">
<head>
    	<title>ARCControllers - OPERACIÓN</title>    
    	<meta charset="UTF-8">
    	<meta name="title" content="arc arcontroller">
    	<meta name="description" content="prototipo001web">    
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link  rel="shortcut icon" href="../../../Public/fwork/Img/logo/arclogo.ico"/>   
		<link rel="stylesheet" type="text/css" href="../../../Public/bootstrap4/css/bootstrap.css">
		<link rel="stylesheet" href="../../../Public/fwork/css/style_op.css">
</head>
<body>
<header>
<nav class="title">
		<img src="../../../Public/fwork/Img/logo/arclogo.png" alt="logo_arc"/>
	<div class="title_menu">
		<a href="#anuncios">ANUNCIOS</a>
		<a href="#herramientas">HERRAMIENTAS</a>
		<a href="#contactos">CONTACTOS</a>
		<a type="button" class="btn btn-outline-danger" onclick="cerrarSesion()">SALIR</a>
	</div> 
</nav>
</header>

<section>
<aside><a>aside</a></aside>
<content><a>content</a></content>
</section>
<footer><a>www.arc.com</a></footer>
</body>
</html>