<nav class="animated bounceInUp slow navbar navbar-expand-lg navbar-light bg-light">

    <img id="logo-01"  src="/img/intelLy_Soft_engineers.png" alt="logo">
    <a class="navbar-brand" href="#"><%=company%></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <div class="row ml-auto">
            <div class="text-center">
                <!-- mientras no exista usuario activo -->
                <a type="button" data-toggle="modal" data-target="#modal_usu">
                    <i class="fas fa-user-secret"><label>Usuario desconocido</label></i><br>
                </a>
                <!-- mientras exista usuario activo -->
                <a style="display: none;" type="button" data-toggle="modal" data-target="#modal_usu">
                    <i class="fas fa-user-secret"><label>Usuario desconocido</label></i><br>
                </a>
            </div>
        </div>

        <!-- Modal -->
        <div class="modal fade" id="modal_usu" tabindex="-1" role="dialog" aria-labelledby="modal_usu"
            aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="modal_usu">Modal title</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        ...
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-primary">Save changes</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

</nav>









<nav class="animated jello slow navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item active">
                <a class="nav-link" href="/">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/contact">Contact</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/#about">About</a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false">
                    Software
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="#">ARControllers</a>
                    <a class="dropdown-item" href="#">HVACalcs</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="#">ArduCrt</a>
                </div>
            </li>
        </ul>
    </div>
</nav>