/*
	background: rgba(53,117,140,1);
	background: -moz-linear-gradient(left, rgba(53,117,140,1) 0%, rgba(41,184,229,1) 50%, rgba(49,160,204,1) 100%);
	background: -webkit-gradient(left top, right top, color-stop(0%, rgba(53,117,140,1)), color-stop(50%, rgba(41,184,229,1)), color-stop(100%, rgba(49,160,204,1)));
	background: -webkit-linear-gradient(left, rgba(53,117,140,1) 0%, rgba(41,184,229,1) 50%, rgba(49,160,204,1) 100%);
	background: -o-linear-gradient(left, rgba(53,117,140,1) 0%, rgba(41,184,229,1) 50%, rgba(49,160,204,1) 100%);
	background: -ms-linear-gradient(left, rgba(53,117,140,1) 0%, rgba(41,184,229,1) 50%, rgba(49,160,204,1) 100%);
	background: linear-gradient(to right, rgba(53,117,140,1) 0%, rgba(41,184,229,1) 50%, rgba(49,160,204,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#35758c', endColorstr='#31a0cc', GradientType=1 );
	*/

body {
    margin: 0;
    padding: 0;
    zoom:150%;
	height:100vh;
	background: url(../Img/fondos/brooklyn.jpg) no-repeat center top;
	background-size: cover; 
	font-family: sans-serif;
}
.auth{
	display:inline-block;
}
.registrer{
	display:none;
}
.auth, .registrer{
	width: 320px;
	height: 450px;
	background: #000;
	color: #FFF;
	top: 50%;
	left: 50%;
	position: absolute;
	transform: translate(-50%, -50%);
	box-sizing: border-box;	
	padding: 70px 30px;
	opacity:0.9;
	border-radius:50px
	filter:alpha(opacity=0.9);
}

.auth .avatar, .registrer .avatar{
	width: 300px;
	height: 150px;
	position: absolute;
	top: -75px;
	left: calc(27% - 80px)
}
.auth h1 , .registrer h1{
	padding: 0;
	margin: 0 0 20px;
	text-align: center;
	font-size: 100%;
}
.auth form, .registrer form{
	padding-top:30px;
}
/*#menu_auth h1{
	padding: 0;
	display: block;
	margin: 0;
	font-weight: bold;
}*/
.auth input, .registrer input{
	width: 100%;
	margin-bottom: 20px;
}
.auth input[type="number"],
.auth input[type="password"], 
.registrer input[type="text"],
.registrer input[type="number"],
.registrer input[type="password"]{
	border: none;
	border-bottom: 1px solid #FFF;
	background: transparent;
	outline: none;
	height: 40px;
	color: #FFF;
	background:transparent;
	font-size: 16px;

}
.auth input[type="submit"],
.registrer input[type="submit"]{
	border: none;
	outline: none;
	height: 40px;
	background: #B80F22;
	color: #FFF;
	font-size: 18px;
	border-radius: 20px;
}
.auth a, .registrer a{
	text-decoration: none;
	font-size: 12px;
	line-height: 20px;
	color: darkgray;
}
.auth a:hover, .registrer a:hover{
	color: #FFF;
}
































/* make sidebar nav vertical 
@media screen and (min-width: 108px) {
	
  .sidebar-nav .navbar .navbar-collapse {
    padding: 0;
    max-height: none;
  }
  .sidebar-nav .navbar ul {
    float: none;
    display: block;
  }
  .sidebar-nav .navbar li {
    float: none;
    display: block;
  }
  .sidebar-nav .navbar li a {
    padding-top: 12px;
    padding-bottom: 12px;
  }
	
body
  {
    overflow-x: scroll;
    white-space: nowrap;
    background-size: 250% 2000px;
	width:70%;
	zoom:10%;

  }
menu{
	float: center;
	width: 100%;
	font-size:8px;
}

section
{
	float:center;
	width:100%;
}



aside
{
	float:center;
	width:100%
	
}

}



*/












